#
# Global ignore patterns
#

*.o
*.lo
*.la
.deps/
.libs/
Makefile
Makefile.in

#
# Top-level directory ignore patterns
#

/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libplanner-1.pc
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/stamp-h1
/xmldocs.make
